body{
    width: 100vw;
    height: 100vh;
}
.contact{
    position: fixed;
/*    bottom: 0;*/
    right: 0;
    width: 70%;
    max-width: 300px;
    height: 10%;
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}
.contact a {
    height: 60%;
    width: auto;
    display: flex;
    align-items: center;
}
.contact .fleche{
    width: 10%;
    height: auto;
    position: relative;
    bottom: 15px;
}
.contact a img{
    height: 60%;
    
    width: auto;
}
.contact p{
    font-size: 0.8rem;
    font-family: 'geosanslightregular';
}

/*
.contact {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: fixed;
    bottom: 0%;
    right: 5%;
    height: 10%;
    padding-bottom: 35px;
}
.contact p{
    font-size: 1rem;
}
.contact a{
    height: 40%;
    margin: 0px 20px;
}
.contact:nth-child(3){
    margin-right: 30px;
}
.contact img{
    width: auto;
    height: 100%;
}
.contact .fleche{
    width: 10%;
    height: auto;
    position: relative;
    bottom: 38px;
}
.contact p{
    font-size: 1.5rem;
    }
    .contact .fleche {
        width: 5%;
        bottom: 30px;
    }
    .contact a {
        margin: 0px 10px;
    }

@media (min-width: 768px ){
    body{
        flex-direction: row;
        justify-content: center;
    }
    main{
        width: 35%;
        margin-top: 13%;
    }
    main h2{
        font-size: 4rem;
    }
    main p{
        font-size: 2rem;
    }
    h1 {
        margin: 0;
        text-align: center;
        width: 55%;
        max-width: 425px;
    }
    h1 img{
        width: 100%;
    }
    .background{
        left: auto;
        right: 0;
        height: 100%;
        width: 60%;  
    }
    .contact p{
        font-size: 1.5rem;
    }
    .contact .fleche {
        width: 5%;
        bottom: 30px;
    }
    .contact a {
        margin: 0px 10px;
    }
}

@media (min-width: 768px ){
    
}
*/





