font : 'coolvetica' ;
font : 'geosanslight' ;
family-font : 'geosanslightitalic' ;
img
color : #000000; /* black */
color : #274B36; /* vert fonce */
color : #609614; /* vert clair */
color : #BFD6CF; /* bleu */
color : #F1CF39; /* jaune flash */
color : #D29A2C; /* jaune moutarde */